@use '../../../assets/var.scss';

#mainContainer {
  height: calc(100vh - 128px);
  /*
   */
  background: linear-gradient(
    to bottom,
      #739ce6,
      #32489b,
      #739ce6
  );

  #mainStripes {
    height: 100%;
    width: 100%;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
    background: linear-gradient(
        to bottom,
        var.$bg-stripe1 0 1.5%,
        var.$bg-stripe2 1.5% 10%,
        var.$bg-stripe1 10% 12%,
        var.$bg-stripe2 12% 18%,
        var.$bg-stripe1 18% 19.5%,
        var.$bg-stripe2 19.5% 23%,
        var.$bg-stripe1 23% 24.5%,
        var.$bg-stripe2 24.5% 26%,
        var.$bg-stripe1 26% 65%,
        var.$bg-stripe2 65% 66.5%,
        var.$bg-stripe1 66.5% 68%,
        var.$bg-stripe2 68% 71.5%,
        var.$bg-stripe1 71.5% 73%,
        var.$bg-stripe2 73% 79%,
        var.$bg-stripe1 79% 80.5%,
        var.$bg-stripe2 80.5% 89%,
        var.$bg-stripe1 89% 90.5%,
        var.$bg-stripe2 90.5% 100%
    );
  }
}

app-pokemon-display {
  margin-left: 10%;
  margin-right: 14px;
}

#cardsContainer {
  display: flex;
  flex-direction: column;
  //gap: 8px;
  max-height: calc(100vh - 131px);
  overflow-y: scroll;
  margin-right: 7px;
  padding-right: 8px;
  //overflow-x: hidden;
}

::-webkit-scrollbar{
  width: 12px;
  margin-right: 20px;
}

::-webkit-scrollbar-thumb{
  background-color: #e9563d;
  border-radius: 2px;
  /* Con este truco hago el thumb más chico que su padre */
  box-shadow: inset 0 0 0 2px #882a1a;
  border-left: 1.5px solid transparent;
  border-right: 1.5px solid transparent;
  background-clip: padding-box;
  cursor:grab;
}

::-webkit-scrollbar-track {
  border: solid #9bbdf5 2.5px;
  cursor: pointer;
  background:
    repeating-linear-gradient(
        #0c3853 0px 3px,
        var.$bg-stripe2 3px 6px
    ),
    linear-gradient(
      #5c89ab, #0c3a5f
    );
}

