@use '../../../assets/var.scss';

#mainContainer {
  height: calc(100vh - 128px);
  /*
   */
  background: linear-gradient(
    to bottom,
      #739ce6,
      #32489b,
      #739ce6
  );

  #mainStripes {
    height: 100%;
    width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
    background: linear-gradient(
        to bottom,
        var.$bg-stripe1 0 1.5%,
        var.$bg-stripe2 1.5% 10%,
        var.$bg-stripe1 10% 12%,
        var.$bg-stripe2 12% 18%,
        var.$bg-stripe1 18% 19.5%,
        var.$bg-stripe2 19.5% 23%,
        var.$bg-stripe1 23% 24.5%,
        var.$bg-stripe2 24.5% 26%,
        var.$bg-stripe1 26% 65%,
        var.$bg-stripe2 65% 66.5%,
        var.$bg-stripe1 66.5% 68%,
        var.$bg-stripe2 68% 71.5%,
        var.$bg-stripe1 71.5% 73%,
        var.$bg-stripe2 73% 79%,
        var.$bg-stripe1 79% 80.5%,
        var.$bg-stripe2 80.5% 89%,
        var.$bg-stripe1 89% 90.5%,
        var.$bg-stripe2 90.5% 100%
    );
  }
}

app-pokemon-display {
  margin-left: 10%;
  margin-right: 5%;
}

#cardsContainer {
  display: flex;
  flex-direction: column;
  //gap: 8px;
  max-height: calc(100vh - 131px);
  overflow-y: scroll;
}
