@use '../../../assets/var.scss';

#mainContainer {
  height: calc(100vh - 85px);
  /*
   */
  background: linear-gradient(
    to bottom,
      #739ce6,
      #48599d,
      #739ce6
  );

  #mainStripes {
    height: 100%;
    width: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
    background: linear-gradient(
        to bottom,
        var.$bg-stripe1,
        var.$bg-stripe1 2%,
        var.$bg-stripe2 2%,
        var.$bg-stripe2 14%,
        var.$bg-stripe1 14%,
        var.$bg-stripe1 16%,
        var.$bg-stripe2 16%,
        var.$bg-stripe2 21%,
        var.$bg-stripe1 21%,
        var.$bg-stripe1 23%,
        var.$bg-stripe2 23%,
        var.$bg-stripe2 25%,
        var.$bg-stripe1 25%,
        var.$bg-stripe1 70%,
        var.$bg-stripe2 70%,
        var.$bg-stripe2 72%,
        var.$bg-stripe1 72%,
        var.$bg-stripe1 74%,
        var.$bg-stripe2 74%,
        var.$bg-stripe2 77%,
        var.$bg-stripe1 77%,
        var.$bg-stripe1 79%,
        var.$bg-stripe2 79%,
        var.$bg-stripe2 84%,
        var.$bg-stripe1 84%,
        var.$bg-stripe1 86%,
        var.$bg-stripe2 86%,
        var.$bg-stripe2 92%,
        var.$bg-stripe1 92%,
        var.$bg-stripe1 94%,
        var.$bg-stripe2 94%,

    );
  }
}

app-pokemon-display {
  margin-left: 5%;
  margin-right: 5%;
}

#cardsContainer {
  display: flex;
  flex-direction: column;
  //gap: 8px;
}
