<header>
  <div id="pokedexTitleWrapper">
    <div id="pokedexTitle">
      <img src="./../assets/img/blue-pokeball.svg" alt="Blue Pokéball" class="headerPokeball">
      <h1>Sinnoh Pokédex</h1>
      <img src="./../assets/img/blue-pokeball.svg" alt="Blue Pokéball" class="headerPokeball">
    </div>
  </div>

  <div id="moreProjectsWrapper">
    <a id="moreProjects" href="https://github.com/thomashammes?tab=repositories">See More Projects</a>
  </div>
</header>

<div class="container" id="main-container">
  <app-pokemon-data></app-pokemon-data>
  <app-home></app-home>
</div>















