@use '../assets/var.scss';

html {
  background-color: #729be3;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-top: solid #412e2e 8px;
  border-bottom: solid #412e2e 7px;
  outline: 2px solid #737373;
  user-select: none;
  background: linear-gradient(
      to right,
      #f33e3e,
      #f33e3e 70%,
      #fa4242 71%,
      #f85252 72%,
      #fa5f5f 95%,
      #f66666 97%,
      #f66666 98%,
      #fc8282 100%
  );
}

#moreProjectsWrapper {
  overflow: hidden;
  align-self: start;
  white-space: nowrap;
  top: 8px;
  width: 280px;
  min-width: 220px;
  height: 50px;
  max-height: 50px;
  border-radius: 50px;
  position: relative;
  background: linear-gradient(to bottom, #c03131, #9a2c2c);
  padding: 3px 2px 0 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 3px 3px 1px;
}

#moreProjectsWrapper:active {
  width: 283px;
  height: 50px;
  border-radius: 50px;
  padding: 1px 0 0 0;
}


#moreProjects {
  display: flex;
  justify-content: center;
  color: var.$off-white;
  background-color: #d73e43;
  text-decoration: none;
  font-size: 25px;
  line-height: 50px;
  padding: 0 30px;
  border-radius: 50px;
}

#pokedexTitleWrapper {
  border-radius: 50px;
  position: relative;
  background: linear-gradient(to bottom, #c43963, #9a2b2b);
  padding: 5px;
}

#pokedexTitle {
  display: flex;
  background-color: var.$title-bg;
  color: var.$off-white;
  -webkit-text-stroke-color: #943745;
  -webkit-text-stroke-width: 2.5px;
  font-weight: 800;
  font-size: 20px;
  width: auto;
  height: 50px;
  padding: 0 5px;
  border-radius: 50px;
  align-items: center;
  justify-items: center;
  justify-content: space-between;

  h1 {
    margin: 0 30px;
  }

  img {
    height: 40px
  }
}

.titlePokeball {
  display: block;
  height: 40px;
  aspect-ratio: 1;
  background: radial-gradient(
      var.$title-pokeball 9%,
      var.$title-pokeball 10% 19%,
      var.$title-bg 20% 30%,
      transparent 31%
  ),
  linear-gradient(to bottom, var.$title-pokeball 0% 46%, transparent 46% 54%, var.$title-pokeball 54% 100%);
  border-radius: 50%;

  //border: 1px solid black;
}

/*
.pokeball {
  display: block;
  width: 192px;
  height: 192px;
  background: radial-gradient(
      white 16px,
      black 17px 18px,
      white 19px 24px,
      black 25px 32px,
      transparent 33px
  ),
  linear-gradient(to bottom, red 0% 48%, black 48% 52%, white 52% 100%);
  border-radius: 50%;
  border: 8px solid black;
}


 */
